* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #1f1f1f;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
  background-color: #0f0f0f;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fefefe;
}

.header .logo h1 {
  margin: 0;
  font-weight: 800;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header nav ul li {
  margin: 0 20px;
}

.header nav ul li a {
  display: block;
  text-decoration: none;
  padding: 8px 10px;
  color: #aaaaaa;
  transition: 350ms all ease;
}

.header nav ul li a:hover {
  color: #ffffff;
}

.header nav ul li a.active {
  color: #ffffff;
}

.header nav ul li form input {
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 12px;
  color: #ffffff;
  transition: 350ms all ease;
}

.header nav ul li form input:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.container.main {
  width: 95%;
  margin: 0 auto;
  margin-top: 140px;
  margin-bottom: 200px;
  color: #fefefe;
  opacity: 0;
  -webkit-animation: reveal 1s forwards;
          animation: reveal 1s forwards;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.home .filmList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.home .filmList a {
  display: block;
  text-decoration: none;
  color: #000000;
  width: 280px;
  margin: 10px 15px 25px 15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  transition: 350ms all ease;
}

.home .filmList a:hover {
  transform: scale(1.05);
}

.home .filmList a img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  position: relative;
  z-index: 2;
}

.home .filmList a div {
  background-color: #fff;
  margin: 0;
  margin-top: -20px;
}

.home .filmList a div h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  padding: 25px 20px 10px 20px;
}

.movie .movie-detail {
  display: flex;
}

.movie .movie-detail .poster {
  width: 350px;
  margin-right: 30px;
}

.movie .movie-detail .poster img {
  width: 100%;
  height: auto;
}

.small {
  margin: 0;
  font-size: 1rem;
  color: #888888;
}

h1 {
  margin-top: 6px;
  font-size: 3.1rem;
}

.big {
  font-size: 1.2rem;
  margin-top: 5px;
}

.big.plot {
  max-width: 800px;
}

.detail-row {
  display: flex;
}

.detail-row div {
  margin-right: 50px;
  margin-bottom: 26px;
}

.detail-row.director a {
  color: #ffffff;
  text-decoration: none;
  width: 100px;
  margin-right: 30px;
  display: block;
}

.detail-row.director a:hover img {
  transform: scale(1.07);
}

.detail-row.director a img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 0;
  transition: 350ms all ease;
}

.detail-row.director > div > .actors {
  display: flex;
}

.detail-row .movies {
  margin-top: 20px;
  display: flex;
}

.detail-row .movies a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  width: 190px;
}

.detail-row .movies a:hover img {
  transform: scale(1.05);
}

.detail-row .movies a p {
  font-size: 1.2rem;
}

.detail-row .movies img {
  width: 190px;
  transition: 350ms all ease;
}

.actorList {
  display: flex;
}

.actorList .singleActorList {
  display: block;
  width: 220px;
  margin-right: 40px;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
}

.actorList .singleActorList:hover img {
  transform: scale(1.1);
  border: 8px solid #ffffff;
}

.actorList .singleActorList img {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #ffffff;
  transition: 350ms all ease;
}

.actorList .singleActorList p {
  color: #ffffff;
  font-size: 1.3rem;
}

.actor .actor-detail {
  display: flex;
}

.actor .actor-detail .propic {
  width: 210px;
  height: 210px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 30px;
}

.actor .actor-detail .propic img {
  width: 100%;
}

.actor .detail-row p.plot {
  max-width: 1000px;
}

.nomatch h1 {
  font-size: 4rem;
  font-weight: 800;
}

.nomatch h2 {
  font-size: 2.5rem;
}

.nomatch a {
  display: inline-block;
  padding: 12px 50px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  transition: 350ms all ease;
}

.nomatch a:hover {
  background-color: #eeeeee;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

